body{
    background-color: rgba(89, 0, 255, 0.626);
    animation: back 10s linear infinite ;
    /* display: grid; */
    /* place-items: center; */
}

@keyframes back {
    0%{
        background-color: rgb(42, 165, 118);
        color: azure;
    }

    20%{
        background-color: rgb(42, 149, 165);
        color: yellow;
    }

    40%{
        background-color: rgb(42, 116, 165);
        color: cadetblue;
    }

    60%{
        background-color: rgb(42, 122, 165);
        color: coral;
    }
    80%{
        background-color: rgb(163, 42, 165);
        color: white;
    }
    100%{
        background-color: rgb(165, 42, 75);
        color: wheat;
    }
    200%{
        background-color: rgba(255, 255, 255, 0.564);
    }
}
h1{
    margin-left: 30%;
}

.button{
    margin-left: 25%;
    /* background-color: rgba(234, 12, 12, 0.356); */
}

button{
   
    border-width: 4px;
    border-style: outset;
}

button:hover{
    background-color: red;
    color: white;
}


.outer{
    background-color: rgba(240, 248, 255, 0.002);
    align-self: center;
    margin-left: 5%;
}

#head{
    text-decoration: underline;
}